/*
 *
 * {{ properCase name }} actions
 *
 */

import { DEFAULT_ACTION } from './constants';

export function requestDefaultAction() {
  return {
    type: DEFAULT_ACTION.REQUEST,
    payload: {someValue: 'BYE'}
  };
}

export function successDefaultAction(val) {
  return {
    type: DEFAULT_ACTION.SUCCESS,
    payload: val
  };
}