/*
 *
 * {{ properCase name }} reducer
 *
 */

import { fromJS } from 'immutable';
import { DEFAULT_ACTION } from './constants';

export const initialState = fromJS({
  status: 'idle',
  value: 'Hi',
  error: {},
});

function {{ camelCase name }}Reducer(state = initialState, action) {
  const {payload} = action;

  switch (action.type) {
    case DEFAULT_ACTION.REQUEST:
      return state.set('status', 'idle');
    case DEFAULT_ACTION.SUCCESS:
      return state
      .set('status', 'idle')
      .set('value', payload.someValue );
    case DEFAULT_ACTION.FAILURE:
      return state
        .set('error', action.error)
        .set('status', 'idle')
        .set('error', payload.err);
    default:
      return state;
  }
}

export default {{ camelCase name }}Reducer;